<!DOCTYPE html>
<html>
	<head>
		<title>Serious Chat</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="favicon.png">
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/reset.css">
		{{#if stylesheets}}
			{{#each stylesheets}}
				<link rel="stylesheet" href="{{this}}">
			{{/each}}
		{{/if}}
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body ng-app="serious-chat" layout="row">
		{{{ body }}}

		{{#if scripts}}
			{{#each scripts}}
				<script src="{{this}}"></script>
			{{/each}}
		{{/if}}
	</body>
</html>