<!DOCTYPE html>
<html>
	<head>
		<title>Serious Chat</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="favicon.png">
		<link rel="stylesheet" href="css/reset.css">
		{{#if stylesheets}}
			{{#each stylesheets}}
				<link rel="stylesheet" href="{{this}}">
			{{/each}}
		{{/if}}
	</head>
	<body ng-app="serious-chat">
		{{{ body }}}

		{{#if scripts}}
			{{#each scripts}}
				<script src="{{this}}"></script>
			{{/each}}
		{{/if}}
	</body>
</html>