<header>
	<div class="md-toolbar-tools">
		<a href="/">
			<md-button class="back-arrow" class="md-icon-button" aria-label="Back">
				<md-icon md-svg-icon="img/back.svg"></md-icon>
			</md-button>
		</a>
		<div layout="row" flex class="fill-height">
			<h1 class="title">Error</h1>
		</div>
	</div>
</header>
<section>
	{{#if error}}
		<article class="acticle-stack">
			<h2>Status code: <span class="status-code">{{error.status}}</span></h2>
			<pre>{{error.stack}}</pre>
		</article>
	{{else}}
		<article class="article-error">
			<img src="img/serious-face.png" alt="Serious Youth">
			<div class="error-messages">
				<h2>{{message}}</h2>
			</div>
		</article>
	{{/if}}
</section>