header {
	display: inline-flex;
	width: 100vw;
	height: 64px;
	background-color: #f44336;
}

header .back-arrow {
	margin: 16px;
	min-width: 16px;
	line-height: 0;
}

header .back-arrow > md-icon {
	color: #fff;
}

header .title {
	padding: 16px 0;
	font-size: 24px;
	color: #fff !important;
	line-height: 1.5em;
}

section {
	position: relative;
	height: calc(100vh - 96px);
	background-color: #fff;
}

.article-error {
	width: 280px;
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: calc(50vw - 140px);
	right: calc(50vw - 140px);
	text-align: center;
}

.article-error .error-messages {
	margin: 16px;
	color: #f44336;
}

.article-error .error-messages h2 {
	font-size: 16px;
	font-size: 1.2rem;
	margin-bottom: 8px;
}

.acticle-stack {
	margin: 32px;
}

.acticle-stack .status-code {
	color: #f44336;
	font-size: 16px;
	font-size: 1.2rem;
}

.acticle-stack pre {
	margin-top: 16px;
}

@media(max-width: 640px) {
	header .md-toolbar-tools {
		padding: 0;
	}
}