header {
	display: inline-flex;
	background-color: #3f51b5;
	height: 64px;
	width: 100%;
}

header .back-arrow {
	margin: 16px;
	min-width: 16px;
	line-height: 0;
}

header .back-arrow > md-icon {
	color: #fff;
}

header .brand-name {
	padding: 0;
	margin: 16px 0;
	color: #fff;
	font-weight: 400;
	font-size: 24px;
	line-height: 1.5em;
}

section {
	position: relative;
	min-height: 500px;
}

.signin-form {
	width: 260px;
	margin: 10vh auto;
	padding: 32px 16px 16px 16px;
	background-color: #f6f6f6;
	border-radius: 3px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0px rgba(0, 0, 0, 0.098), 0 1px 5px 0px rgba(0, 0, 0, 0.082);
}

md-input-container:not(.md-input-invalid) > md-icon{
	color: #3f51b5;
}

.btn-sign-in {
	width: 100%;
	margin: 0;
	color: #fff !important;
	background-color: #ff4081 !important;
}

@media(max-width: 640px) {
	header .md-toolbar-tools {
		padding: 0;
	}
}