<main class="mainController">
	<header>
		<md-button class="menu" class="md-icon-button" aria-label="Back">
			<md-icon md-svg-icon="img/menu.svg"></md-icon>
		</md-button>
		<h1 class="brand-name">Serious Chat</h1>
	</header>
</main>